* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

h1, h2 {
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}

p {
    margin-bottom: 10px;
    text-align: center;
}

ol {
    list-style-type: decimal;
    margin: 20px auto;
    padding: 0;
    width: fit-content;
    text-align: left;
}

ol li {
    padding: 5px 0;
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 20px auto;
    text-align: left;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form input[type="submit"] {
    background-color: #5cb85c;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form input[type="submit"]:hover {
    background-color: #4cae4c;
}

table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 50%;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #f4f4f4;
    text-align: center;
}

td {
    text-align: center;
}

footer {
    margin-top: 20px;
    text-align: center;
    font-size: 0.9em;
    color: #777;
}
